<div class="container">
    <h1>
      Welcome to {{title}}!!
    </h1>
    <hr />
      <form (ngSubmit)="submitForm()" [formGroup] = "form">
        <div class="form-group">
          <label for="name">Company Name:</label>
          <input type="text" class="form-control" formControlName ="CompanyName">
        </div>
        <div class="form-group">
          <label for="price">Company Type:</label>
          <input type="text" class="form-control" formControlName ="CompanyType">
        </div>
        <div class="form-group">
          <label for="price">User Name:</label>
          <input type="text" class="form-control" formControlName ="UsersName">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>
