<div class="text-center" style="margin-top:100px;">

    <h1>
      Welcome to Education Authority Risk Assessment Survey
    </h1>
    <hr>
    <p> Paragraph here to explain purpose of questionnaire</p>
    <div class="text-center">
      <ng-container *ngIf = "authService.isAuthenticated$ | async; else loggedOut"> 
        <button type="button" class="btn btn-primary" (click)="click_Questionnaire()">Click here to start the Questionnaire</button> 
      </ng-container>
    
      <ng-template #loggedOut>
        <p>Please login to begin the Questionnaire</p>
      </ng-template>
    </div>
    

</div>
  


