<div class="container" style="margin-top: 100px;">
    <h1>
      Please Answer the Questions below
    </h1>
    <hr />
      <form (ngSubmit)="submitForm()" [formGroup] = "form">
        <div class="container">
            <div class="form-group">
                <label for="price">User Name:</label>
                <input type="text" class="form-control" formControlName ="UsersName">
              </div>
            <div class="form-group">
                <label for="name">Company Name:</label>
                <input type="text" class="form-control" formControlName ="CompanyName">
              </div>
              <div class="form-group">
                <label for="price">Company Type:</label>
                <input type="text" class="form-control" formControlName ="CompanyType">
              </div>
              <br>
              <hr>

                        <div *ngFor = "let question of QuestionsService.Questions_list">
                            <div class="bg-Secondary mb-3"style="margin auto">
                                <div class="card-header">
                                Question {{question.id}} : {{question.Questions }}
                                </div>  
                                <div class="form-group">
                                    <textarea type="text" class="form-control" formControlName ="Question{{question.id}}"></textarea>
                                </div>
                                <hr>
                            </div>
                        </div>
        </div>
        <div class = "form-inline ms-auto" style="width:90px;">
            <button style="margin-bottom: 100px;" type="submit" class="btn btn-secondary">Submit</button>
        </div>
       
       




